.hero-title {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.lead {
  margin: 0;
  padding: 0;
}

.site-title {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #595353;
}

@media (max-width: 980px){
  .site-title  {
    font-size:2rem;
  }
}
