@import "headerr.css";
@import "hero.css";
@import 'basket.css';
@import "card-items.css";
@import "footer.css";
@import "body-btn.css";

:root {
  /* colors */
  --main-bg: #151515;
  --main-text: #000;
  --second-text: #8d97a4;
  --accent: #eb5a1e;
  --accent-active: #8f0d24;
  --text-btn: #fff;
}

body, html {
  height: 100%;
  background-color: #e6d5d6;
}


h3, h4 {
  font-family: 'Merriweather', serif;

}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1440px;
}

.col-md-6 {
  display: flex;
  flex-flow: row wrap;
}

/*===========================*/
.page__body {
  padding: 50px;
  min-width: 320px;
  font-family: 'NotoSans', sans-serif;
  font-weight: 400;
  background-color: var(--main-bg);
}

.title {
  margin: 0;
  margin-bottom: 15px;
  color: var(--main-text);
}

.title--second {
  font-size: 35px;
}


/*.link {*/
/*  font-size: 20px;*/
/*  color: var(--main-text);*/
/*  transition: color 0.3s ease-in-out;*/
/*}*/

/*.link:hover {*/
/*  color: var(--accent);*/
/*}*/

/*.grid {*/
/*  display: grid;*/
/*  grid-template-columns: repeat(3, 1fr);*/
/*  gap: 10px;*/
/*}*/

/*.flex {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*}*/
